</main>
<footer class="flex">
    <%- include('./social.ejs') %>
</footer>
<script
  src="https://kit.fontawesome.com/25e32ff654.js"
  crossorigin="anonymous"
></script>
<script src="/js/script.js"></script>
<script src="/js/scrollAnimation.js"></script>
</body>
</html>