</main>
<footer class="flex column">
    <%- include('./social.ejs') %>
    <div class="gradient-text cpy">©All rights reserved.</div>
</footer>
<script src="/build/build_out.js"></script>
</body>
</html>