</main>
<footer class="flex column">
    <%- include('./social.ejs') %>
    <div class="gradient-text cpy">©All rights reserved.</div>
</footer>
<script src="/js/script.js"></script>
<script src="/js/scrollAnimation.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>