<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/education.css" />
    <link rel="stylesheet" href="/css/skill.css" />
    <link rel="stylesheet" href="/css/project.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta
      name="Description"
      CONTENT="Pulkit gupta Portfolio, Made and designed by Pulkit Gupta"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>
  </head>
  <body>
    <header>
      <div class="backdrop no-display"></div>
      <nav class="navbar flex s-btw" id="nav">
        <div class="nav_left flex gradient-text">Pulkit Gupta</div>
       
        <ul class="flex s-eve ham-list-menu">
          <li><a href="/#home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#skill">Skills</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </header>
    <main>
