<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- build CSS files -->
    <link rel="stylesheet" href="/build/build_out.css" />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/acbd692ad8.js"
      crossorigin="anonymous"
    ></script>
    <!-- fav icon -->
    <link rel="shortcut icon" href="/fav.svg" type="image/x-icon" />
    <meta name="Description" content="Pulkit Gupta Web-Portfolio" />
    <meta charset="UTF-8" />
    <meta property="og:title" content="Portfolio" />
    <meta property="og:locale" content="en_US" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-language" content="en-gb" />
    <meta
      name="description"
      content="Pulkit gupta web-portfolio, Made and designed by Pulkit Gupta"
    />
    <meta property="og:description" content="Hello There! I am Pulkit Gupta" />
    <meta property="og:site_name" content="About Pulkit Gupta" />
    <meta property="og:type" content="Web-Portfolio" />
    <meta
      property="og:image"
      content="https://user-images.githubusercontent.com/76155456/155187006-4ef09ed3-3869-499f-84c3-7bdaa68f73d4.png"
    />
    <meta
      property="twitter:image"
      content="https://user-images.githubusercontent.com/76155456/155187006-4ef09ed3-3869-499f-84c3-7bdaa68f73d4.png"
    />
    <meta property="twitter:title" content="Pulkit Gupta Web-Portfolio" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="loader flex" id="loader">
      <div class="loader-circle"></div>
    </div>
    <header>
      <div class="backdrop no-display"></div>
      <nav class="navbar flex s-btw" id="nav">
        <!-- <div class="nav_left flex gradient-text">Pulkit Gupta</div> -->
        <a href="#">
          <img
            src="avtar.png"
            class="nav_left flex profile-image"
            loading="lazy"
            alt="profile-Image"
        /></a>
        <ul class="flex s-eve ham-list-menu">
          <li><a href="/#home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#skill">Skills</a></li>
          <li>
            <a
              href="https://drive.google.com/file/d/1wqT7EurYQuvMsjs9rf8_fa-YXCSdQL7F/view?usp=sharing"
              >Resume</a
            >
          </li>
          <li><a href="https://hashnode.com" class="btn">Blog</a></li>
        </ul>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </header>
    <main>
