<div class="flex s-eve social">
  <a href="https://github.com/pulkit-30"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/pulkit-gupta-707459214/"><i class="fa-brands fa-linkedin-in"></i></a>
  <a href="mailto:pulkit30.bsr@gmail.com"><i class="fas fa-envelope"></i></a>
  <a href="https://dev.to/pulkit30"><i class="fa-brands fa-dev"></i></a>
</div>
