<div class="flex s-eve social">
  <a href="https://github.com/pulkit-30"
    ><i class="fab fa-github-square"></i
  ></a>
  <a href="https://www.linkedin.com/in/pulkit-gupta-707459214/"
    ><i class="fab fa-linkedin"></i
  ></a>
  <a href="mailto:pulkit30.bsr@gmail.com"><i class="fas fa-envelope"></i></a>
</div>
