<div class="flex s-eve social">
    <a href="https://github.com/pulkit-30"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/pulkit-gupta-707459214/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100013565554132"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/i_pulkit_gupta/"><i class="fab fa-instagram-square"></i></a>
</div>