<section class="section about flex s-eve" id="about">
  <div class="flex column">
    <h1 class="gradient-text heading-text">About Me</h1>
    <div>Hi! I'm Pulkit</div>
  </div>
  <div>
    <p class="about-para">
      I am pursuing my B.tech degree in Computer Science Engineering from
      ABESEC.I'm self starter with strong Interpersonal skills. I am a team
      Player. I can keep my cool under pressure . I'm passionate about learning
      new things. I enjoy creating sleek and responsive applications in addition
      to being user friendly. With my cultural and sport experiences I excel at
      collaborating with teams of same or different knowledge sets. A versatile
      engineer with interests in software Engineering and Algorithms. Adaptable
      and self motivated learner. Interested in new programming technologies,
      and continuous self improvement.
    </p>
    <%- include('./components/social.ejs') %>
  </div>
</section>
