<section class="section about flex s-eve" id="about">
  <div class="flex column about-left">
    <h1 class="gradient-text heading-text">About Me</h1>
    <div
      style="margin: 10px 0px; width: 300px; color: black"
      class="typewrite"
      data-period="2000"
      data-type='[ "Hi! I am Pulkit","Checkout my projects","Checkout my Github"]'
    >
      <span class="wrap"></span>
    </div>
    <%- include('./components/social.ejs') %>
  </div>
  <div class="about-right">
    <p class="about-para">
      I am pursuing my B.tech degree in Computer Science Engineering from
      ABESEC.I'm self starter with strong Interpersonal skills. I am a team
      Player. I can keep my cool under pressure . I'm passionate about learning
      new things. I enjoy creating sleek and responsive applications in addition
      to being user friendly. With my cultural and sport experiences I excel at
      collaborating with teams of same or different knowledge sets. A versatile
      engineer with interests in software Engineering and Algorithms. Adaptable
      and self motivated learner. Interested in new programming technologies,
      and continuous self improvement.
    </p>
  </div>
  <div class="github-activity-graph">
    <!-- Include the library. -->
    <script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>

    <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
    />

    <!-- Prepare a container for your calendar. -->
    <div class="calendar">
      <!-- Loading stuff -->
      <div class="loader flex" id="loader">
        <div class="loader-circle"></div>
      </div>
    </div>

    <script>
      GitHubCalendar(".calendar", "pulkit-30");

      // or enable responsive functionality:
      GitHubCalendar(".calendar", "pulkit-30", { responsive: true });
    </script>
  </div>
</section>
