<section class="section about flex s-eve" id="about">
  <div class="flex column about-left">
    <h1 class="gradient-text heading-text">About Me</h1>
    <div class="outline-text">About Me</div>
    <div
      style="margin: 10px 0px; width: 300px; color: black"
      class="typewrite"
      data-period="2000"
      data-type='[ "Hi! I am Pulkit","Checkout my projects","Checkout my Github"]'
    >
      <span class="wrap"></span>
    </div>
    <%- include('./components/social.ejs') %>
  </div>
  <div class="about-right">
    <p class="about-para">
      My name is Pulkit Gupta. I am a 2nd-year student of Dr. A.P.J. Abdul Kalam
      Technical University (India). My area of expertise is Web development and
      Web Testing. I've previously worked on MERN stack-based projects. I've
      also tried my hand at freelancing. I am a hard-working individual, honest
      and dedicated to my work, and always keen to acquire new skills. My flaw
      is that I may become diffident at times. However, I am addressing my
      shortcoming now by actively participating with open source communities.
    </p>
  </div>
  <!-- 
  <div class="github-activity-graph">
    <script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
    />

    <div class="calendar">
    </div> -->

  <!-- <script>
      GitHubCalendar('.calendar', 'pulkit-30');

      // or enable responsive functionality:
      GitHubCalendar('.calendar', 'pulkit-30', { responsive: true });
      setTimeout(() => {
        document.getElementsByClassName('float-right')[1].style.display =
          'none';
      }, 500);
    </script> -->
  <!-- </div> -->
</section>
