<%- include('./components/header.ejs') %>
<section>
  <form action="/blog/write" method="POST" class="blog flex column">
    <input
      type="text"
      name="title"
      placeholder="Title"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <input
      type="text"
      name="image"
      placeholder="Image"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <input
      type="text"
      name="imageCredit"
      placeholder="Image credit"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <input
      type="text"
      name="caption"
      placeholder="caption"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <input
      type="text"
      name="labels"
      placeholder="Labels"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <textarea
      name="para1"
      placeholder="Paragraph"
      style="width: 80%; height: 400px"
      cols="600"
      rows="600"
    ></textarea>
    <textarea
      name="para2"
      placeholder="Paragraph"
      style="width: 80%; height: 400px"
      cols="600"
      rows="600"
    ></textarea>
    <textarea
      name="para3"
      placeholder="Paragraph"
      style="width: 80%; height: 400px"
      cols="600"
      rows="600"
    ></textarea>
    <textarea
      name="para4"
      placeholder="Paragraph"
      style="width: 80%; height: 400px"
      cols="600"
      rows="600"
    ></textarea>
    <input
      type="text"
      name="password"
      placeholder="Password*******"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <input
      type="text"
      name="ref"
      placeholder="ref"
      style="width: 80%; height: 30px; margin: 20px auto"
    />
    <button class="btn post-blog">POST</button>
  </form>
  <br />
  <button class="btn post-blog">preview</button>
  <div class="preview"></div>
  <br />
</section>
<%- include('./components/footer.ejs') %>
