<section class="section education flex column" id="education">
  <h1 class="gradient-text heading-text">Education</h1>
  <img src="timeline.png" alt="edu-timline-pattern" class="timeline" />
  <p class="edu-para">
    Class X (CBSE Board)
    <br />
    Renaissance School
    <br />
    2017 - 2018
    <br />
    Percentage : 93 %
  </p>
  <p class="edu-para">
    Class XII (CBSE Board)
    <br />
    Renaissance School
    <br />
    2019 - 2020
    <br />
    Percentage : 94.6 %
  </p>
  <p class="edu-para">
    B.tech (CSE)
    <br />
    ABES Engineering College
    <br />
    2020 - present
  </p>
</section>
