<section class="experience flex" id="experience">
  <div class="exp-main flex column">
    <h1 class="gradient-text heading-text">Experience</h1>
    <div class="outline-text">Experience</div>

    <p class="exp-main-para"></p>
  </div>
  <div class="flex column exp-points" id="Exp-Main-Box">
    <div class="flex exp-box">
      <object data="bullet.svg" width="50" height="50" class="object"></object>
      <div class="line"></div>
      <div class="exp-para flex column">
        <h1 class="gradient-text">Software Engineer Intern</h1>
        <div>Humalect</div>
        <strong style="font-size: 15px"
          >Nov 2022 - present
        </strong>
      </div>
    </div>
    <div class="flex exp-box">
      <object data="bullet.svg" width="50" height="50" class="object"></object>
      <div class="line"></div>
      <div class="exp-para flex column">
        <h1 class="gradient-text">Google Summer of Code</h1>
        <div>CircuitVerse</div>
        <strong style="font-size: 15px"
          >May 2022 - Sept 2022
        </strong>
      </div>
    </div>
    <div class="flex exp-box">
      <object data="bullet.svg" width="50" height="50" class="object"></object>
      <div class="line"></div>
      <div class="exp-para flex column">
        <h1 class="gradient-text">Project Lead</h1>
        <div>Geeks for Geeks chapter ABESEC</div>
        <strong style="font-size: 15px"
          >Aug 2022 - present
        </strong>
      </div>
    </div>
    <div class="flex exp-box">
      <object data="bullet.svg" width="50" height="50" class="object"></object>
      <div class="line"></div>
      <div class="exp-para flex column">
        <h1 class="gradient-text">Vice President</h1>
        <div>Newton School Coding Club ABESEC</div>
        <strong style="font-size: 15px"
          >Aug 2022 - present
        </strong>
      </div>
    </div>
    <div class="flex exp-box">
      <object data="bullet.svg" width="50" height="50" class="object"></object>
      <div class="line"></div>
      <div class="exp-para flex column">
        <h1 class="gradient-text">Open Source Coordinator</h1>
        <div>Geeks for Geeks chapter ABESEC</div>
        <strong style="font-size: 15px"
          >Aug 2021 - Aug 2022
        </strong>
      </div>
    </div>  
  </div>


</section>
