<section class="experience flex" id="experience">
  <div class="exp-main flex column">
    <h1 class="gradient-text heading-text">Experience</h1>
    <p class="exp-main-para"></p>
  </div>
  <div class="flex column exp-points" id="Exp-Main-Box">
    <!-- <div class="flex exp-box">
      <object data="bullet.svg" width="50" height="50" class="object"></object>
      <div class="line"></div>
      <div class="exp-para flex column">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
          asperiores?
        </div>
        <div>Lorem ipsum dolor sit amet.</div>
      </div>
    </div> -->
  </div>
</section>
<script src="js/experience.js"></script>
