<%- include('./components/header.ejs') %>
<section class="section contact flex s-eve">
  <div>
    <h1 class="gradient-text heading-text">Sorry Something Went Wrong!</h1>
  </div>
</section>
<%- include('./components/footer.ejs') %>
