<section class="section home flex column" id="home">
    <h1 class="gradient-text">
     <div> Hello!</div>
     <div> I'm Pulkit Gupta</div>
    </h1>
    <p class="move-up">Open Source | Full-Stack Developer</p>
    <div class="downArrow" id ="Know-More"><i class="fas fa-angle-down" ></i></a>
</section>