<section class="section home flex column" id="home">
    <h1 class="gradient-text">
      Hello!
      <br />
      I'm Pulkit Gupta
    </h1>
    <p>Open Source | Full-Stack Developer</p>
    <div class="downArrow" id ="Know-More"><i class="fas fa-angle-down" ></i></a>
</section>