<%- include('./components/header.ejs') %>
<div class="loader" id="loader"></div>
<section class="flex project section column">
    <h1 class="gradient-text heading-text">
      Projects
    </h1>
    <div class="projectsDisplay flex"></div>

</section>
<script src="/js/data.js"></script>
<%- include('./components/footer.ejs') %>
