<%- include('./components/header.ejs') %>
<section class="flex project section column">
  <h1 class="gradient-text heading-text">Projects</h1>
  <div class="projectsDisplay flex">
    <div class="loader-circle"></div>
  </div>
  <div class="flex" style="flex-wrap: wrap">
    <a href="https://pulkit-30.github.io/pulkit-30/" class="btn gradient-text"
      >See All Projects <i class="fab fa-cloudsmith"></i
    ></a>
    &nbsp;

    <a href="https://github.com/pulkit-30" class="btn gradient-text"
      >More on github <i class="fab fa-github"></i
    ></a>
  </div>
</section>
<script src="/projects/projectData.js"></script>
<script src="/projects/project.js"></script>
<%- include('./components/footer.ejs') %>
