<%- include('./components/header.ejs') %>
<div class="loader flex" id="loader">
  <div class="loader-circle"></div>
</div>
<section class="flex project section column">
  <h1 class="gradient-text heading-text">Projects</h1>
  <div class="projectsDisplay flex">
    <div class="loader-circle"></div>
  </div>
  <a href="https://github.com/pulkit-30" class="btn gradient-text"
    >More on github <i class="fab fa-github"></i
  ></a>
</section>
<script src="/projects/projectData.js"></script>
<script src="/projects/project.js"></script>
<%- include('./components/footer.ejs') %>
