<section class="section skill flex s-eve" id="skill">
  <div class="skill_left flex column">
    <h1 class="gradient-text heading-text">Skills</h1>
    <div class="outline-text">Skills</div>
    <p class="skill-para">
      C++ was my first programming language while I was in 11th grade, I have
      also won some programming certificates in C++. I began learning front-end
      development in my first year of college, and this is where my adventure
      with open source began. I have previously worked on a few modest open
      source projects. I've also dabbled with Nodejs backend coding and created
      some web apps. I have a fair bit of familiarity with standard data
      structures and algorithms, in C and C++ (for the purpose of competitive
      programming and learning). I can write, explain and even teach to code in
      a variety of languages, including Javascript, Typescript, Python, and C++.
    </p>
  </div>
  <div class="flex column skill_right">
    <h3 class="gradient-text">Languages & Technologies</h3>
    <div class="flex s-eve skilldisplay">
      <ul class="skill-list">
        <li class="flex"><span class="bullet flex"></span> Javascript</li>
        <li class="flex"><span class="bullet flex"></span> Typescript</li>
        <li class="flex"><span class="bullet flex"></span> C</li>
        <li class="flex"><span class="bullet flex"></span> C++</li>
        <li class="flex"><span class="bullet flex"></span> Python</li>
      </ul>
      <ul class="skill-list">
        <li class="flex"><span class="bullet flex"></span> Reactjs</li>
        <li class="flex"><span class="bullet flex"></span> Nextjs</li>
        <li class="flex"><span class="bullet flex"></span> Nodejs</li>
        <li class="flex"><span class="bullet flex"></span> Docker</li>
        <li class="flex"><span class="bullet flex"></span> Git & Github</li>
      </ul>
    </div>
  </div>
</section>
