<section class="section skill flex s-eve" id="skill">
  <div class="skill_left flex column">
    <h1 class="gradient-text heading-text">Skills</h1>
    <p class="skill-para">
      I am passionate about learning & sharing knowledge, but more importantly,
      I am an empathetic person who strives for self-improvement and helping
      others. I take pride in surpassing expectations, not only by my work but
      through my contributions to the team.
    </p>
    <a href="/projects" class="btn gradient-text"
      >See Projects <i class="fas fa-external-link-square-alt"></i
    ></a>
  </div>
  <div class="flex column skill_right">
    <h3 class="gradient-text">Languages & Technologies</h3>
    <div class="flex s-eve skilldisplay">
      <ul class="skill-list">
        <li class="flex"><span class="bullet flex"></span> Javascript</li>
        <li class="flex"><span class="bullet flex"></span> C++</li>
        <li class="flex"><span class="bullet flex"></span> Python</li>
        <li class="flex"><span class="bullet flex"></span> C</li>
        <li class="flex"><span class="bullet flex"></span> Html</li>
      </ul>
      <ul class="skill-list">
        <li class="flex"><span class="bullet flex"></span>CSS</li>
        <li class="flex"><span class="bullet flex"></span>Reactjs</li>
        <li class="flex"><span class="bullet flex"></span>Nodejs</li>
        <li class="flex"><span class="bullet flex"></span>OpenCV</li>
        <li class="flex"><span class="bullet flex"></span>Git & Github</li>
      </ul>
    </div>
  </div>
</section>
