.about {
  min-height: 80vh;
  width: 100%;
}
.about-left{
  width: 30%;
}
.about-left div{
  width: 200px;
  text-align: center;
}
.about-right{
  width: 50%;
}
.about-para {
  width: 100%;
  padding: 10px;
}
.about .social{
  position: relative;
  margin: auto;
}
.about .social a i {
  color: black !important;
}
@media screen  and (max-width:1000px){
  .about{
    flex-direction: column;
    margin-top: 10vh;
  }
  .about-right{
    width: 80%;
  }
}
@media screen  and (max-width:500px){
  .about-right{
    width: 90%;
  }
}