.about {
  height: 80vh;
  width: 100%;
}
.about-para {
  color: gray;
  letter-spacing: normal;
  margin: 50px auto;
  width: 800px;
  font-weight: bolder;
  line-height: 2;
}
.about .social a i {
  color: black !important;
}
