.about {
  min-height: 80vh;
  width: 100%;
  padding: 50px 0px;
}
.about-left {
  width: 30%;
}
.about-left div {
  width: 200px;
  text-align: center;
}
.about-right {
  width: 50%;
}
.about-para {
  width: 100%;
  padding: 5px;
}
.about .social {
  position: relative;
  margin: 20px 0px;
}
.about .social a {
  margin: 0px 10px;
}
.about .social a i {
  font-size: 25px !important;
  color: rgb(0, 0, 0) !important;
}
.calendar {
  /* border: none !important; */
  letter-spacing: 0px;
  width: 900px !important;
  padding: 10px 30px;
  margin: 100px 0px !important;
}
@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
    margin-top: 10vh;
  }
  .about-right {
    width: 80%;
  }
  .calendar {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .about-right {
    width: 90%;
  }
}
