.blog {
  padding-top: 50px;
}
.blog-post-img {
  width: 40%;
  overflow: hidden;
  height: 300px;
  background-color: rgba(112, 112, 112, 0.103);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.blog-post-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: rgba(112, 112, 112, 0.103);
}
.blog-post-para {
  width: 40%;
}
.blog-post {
  margin: 100px auto;
  width: 100%;
}
.blog-post .btn {
  width: fit-content !important;
  padding: 10px;
  min-width: none !important;
  font-size: 15px;
}
.blog-btn {
  width: 100%;
  background-color: rgba(99, 99, 99, 0.062);
  padding: 10px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.blog-post i {
  cursor: pointer;
  font-size: 20px;
}
.blog-post i:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.like {
  color: rgb(78, 149, 255);
}
.comment {
  color: var(--gradient-primary-color);
}
.share {
  color: var(--gradient-secondary-color);
}
.post-info {
  margin: 10px auto;
  width: 100%;
  font-size: 13px;
  letter-spacing: 0;
  font-family: var(--secondary-font);
  opacity: 0.3;
}
.Cover-Video {
  width: 100%;
  height: 60vh;
  margin: 20px auto;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.blog .overlay {
  height: 60vh;
  top: 70px;
  left: 0;
  opacity: 0.7;
}
@media screen and (max-width: 1344px) {
  .blog-post {
    margin: 10px auto;
    flex-direction: column;
  }
  .blog-post-para {
    margin: 40px auto;
    width: 80%;
  }
  .blog-post-img {
    width: 70%;
  }
}

@media screen and (max-width: 665px) {
  .blog-post {
    flex-direction: column;
  }
  .post-info {
    flex-direction: column;

    align-items: flex-start;
  }
  .blog-post-para {
    margin-top: 40px;
    width: 90%;
    min-height: 300px;
    justify-content: space-between;
  }
  .blog-post-img {
    width: 90%;
  }
  .blog-post-img img {
    height: 100%;
    width: unset;
  }
}
