.contact form input,
textarea {
  width: 500px;
  height: 40px;
  margin: 20px 0px;
  padding: 5px;
  border: none;
  border: 1px solid black;
}
.contact textarea {
  width: 500px;
  height: 300px;
}
.contact p {
  width: 600px;
}
.contact{
  padding-top: 150px;
  padding-bottom: 50px;
}
.contact h1{
  text-align: center;
  width: fit-content;
  margin: auto;
}
@media screen  and (max-width:690px){
  .contact form input,textarea {
  width: 350px;
  height: 40px;
}
.contact textarea {
  width: 350px;
}
.contact p{
  width: 90%;
}
}