.home {
  position: relative;
  height: 93vh;
  width: 100%;
  background-color: black;
  background-image: url('https://user-images.githubusercontent.com/76155456/152491322-0f96fb6d-4f8a-4217-968b-905131dad912.png');
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  z-index: 0;
}

.home h1 {
  line-height: 2;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 3.3rem;
  margin-bottom: 10px;
}
.home p {
  padding: 0;
  margin: 20px auto;
  font-size: 15px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  letter-spacing: 3px;
  font-size: 18px;
}
.downArrow {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  padding: 5px;
}

@media screen and (max-width: 526px) {
  .home {
    background-image: url('https://user-images.githubusercontent.com/76155456/152491309-05ae5208-f486-4168-bc64-20c8c2fecfa6.png');
  }
  .home h1 {
    font-size: 40px;
  }
}

/* 
 */
/* Google Fonts */

.line-1 {
  caret-color: blue;
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
