.home {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 2;
  color: var(--secondary-color);
  background-image: url('../background.webp');
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}
.home::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.653));
  z-index: 0;
}
.home h1 {
  position: relative;
  right: 20%;
  z-index: 5;
}
.home p {
  position: relative;
  right: 25%;
  padding: 0;
  margin: 20px auto;
  font-size: 15px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  letter-spacing: 3px;
  font-size: 18px;
  z-index: 5;
}

.downArrow {
  position: absolute;
  bottom: 5rem;
  right: 4rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.downArrow::before {
  content: 'SCROLL DOWN';
  position: absolute;
  right: 50px;
  width: 150px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--primary-font);
  /* background-color: #fff; */
}
.navigate-down {
  text-decoration: none;
  color: white;
  position: absolute !important;
  right: 0;
  background-color: rgba(21, 21, 21, 0.336);
  padding: 30px 25px;
  width: 200px;
  margin: 1px 0px;
  cursor: pointer;
  transition: 1s;
  z-index: 10;
}

.navigate-down:hover {
  background-color: rgba(0, 0, 0, 0.585);
}
.navigate-down::before {
  content: '';
  position: absolute;
  left: 10px;
  z-index: 10;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gradient-secondary-color);
}
.home-social-icons {
  z-index: 10;
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  width: 300px;
  font-size: 15px !important;
}
.home-social-icons .social {
  width: 100%;
}

@media screen and (max-width: 1264px) {
  .home h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 787px) {
  .navigation-menu,
  .navigate-down {
    display: none;
  }
  .home h1 {
    right: unset;
    text-align: center;
    font-size: 3rem;
  }
  .home p {
    right: unset;
    text-align: center;
    /* font-size: 40px; */
  }
  .home-social-icons {
    display: none;
  }
  .downArrow {
    right: 47%;
  }
  .downArrow::before {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .home {
    background-position: center;
  }
  .home h1 {
    right: unset;
    text-align: center;
    font-size: 2rem;
  }
}
