.home {
  position: relative;
  height: 93vh;
  width: 100%;
  background-color: black;
  background-image: url("../home-bg.png");
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  z-index: 0;
}

.home h1 {
  line-height: 2;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 50px;
  margin-bottom: 10px;
}
.home p {
  padding: 0;
  margin: 20px auto;
  font-size: 15px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  letter-spacing: 3px;
  font-size: 18px;
}
.downArrow {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  padding: 5px;
}

@media screen and (max-width: 526px) {
  .home {
    background-image: url("../home-bg-mobile.png");
  }
  .home h1 {
    font-size: 40px;
  }
}
